<!DOCTYPE html>
<Html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-1.0">
    <link rel="stylesheet" href="index.css">
    <title>Shoes</title>
    </head>
    <body>
       <header>
           <h1>Men</h1>
         </nav>
           <ul class="nav">
               <li><a href="men.html">Men</a></li>
               <li><a href="women.html">Women</a></li>
               <li><a href="kids.html">Kids</a></li>
               <li><a href="sales.html">Sales</a></li>
           </ul>
        </nav>
        </header>

    </body>
    </html>