:root {
  --font-medium: 400;
  --font-semi-bold: 500;
  --font-bold: 600;

  --color-dark: #141414;
  --color-accent: #D5D69A;
  --color-secondary: #7D7F7B;
  --color-white: #FFF;
  --background-color: #FBFBF2;

  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
}

/* Home Page Styling Start */

.home {
  background-color: #FBFBF2;
  overflow: hidden;
  padding-top: 50px;
}

.homeContainer {
  height: 100vh;
}

.sneakerShapeImages {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 90px;
}

.circleShape {
  width: 250px;
  height: 250px;
  background-color: var(--color-accent);
  border-radius: 50%;
}

.sneakerImage {
  position: relative;
  top: -115px;
  max-width: initial;
  width: 800px;
  height: 800px;
  transform: rotate(-12deg);
  margin-top: 200px;
  transition: 0.2s;
}

.sneakerImage:hover {
  transform: scale(1.02);
}

.bodyContainer {
  margin-top: 50px;
  margin-left: 70px;
}


.descriptionTitle {
  font-size: 56px;
  margin-bottom: 16px;
}

.descriptionBody {
  margin-bottom: 24px;
}

.exploreMoreButton {
  display: inline-block;
  background-color: var(--color-accent);
  color: var(--color-dark);
  padding: 16px 18px;
  border-radius: 8px;
  transition: .3s;
}

.button:hover {
  transform: translateY(-4px);
}

.greenDot {
  color: var(--color-accent);
}

/* Media queries for multiple devices */

@media all and (min-width: 768px){
  body {
      margin: 0;
  }
  .section {
      padding: 110px 0;
  }
  .homeContainer {
      height: 100vh;
      grid-template-columns: max-content max-content;
      justify-content: center;
      align-items: center;
  }
  .bodyContainer {
      margin-top: 50px;
      margin-left: 180px;
  }
  .circleShape {
      width: 285px;
      height: 285px;
  }
  .sneakerImage {
      position: fixed;
      width: 625px;
      height: 625px;
      top: -85px;
      right: 0;
      left: 500px;
  }
};
/* Home Page Styling End */

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

header {
  background: var(--primary);
}

header a {
  color: var(--light);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 100%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 15px;
  padding-right: 40px;
  background-color: #FBFBF2;
  font-size: 20px;
}

.headerText {
  padding-left: 190px;
  padding-top: 40px;
}

.homeCategoryMenu,.cartHome {
  padding-top: 15px;
}

.justifyLeft {
  justify-content: flex-start;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  /* margin-right: var(--spacing-one);
  margin-left: var(--spacing-one); */
  margin-left: 100px;
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

/* .px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
} */

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.error-text {
  color: var(--error);
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}